.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: 0;
	background-color: #242424;
}

.subtitle {
	font-size: 0.8em;
	padding-left: 24px;
	font-weight: 600;
}

.gif {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
